body, html {
    height: 100%;
  }
  
  .bg {
    
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/16110133958662.56be291c46cdd.gif");
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }